html {
  min-height: 100%;
}
body {
  background-color: #0F0F0F;
}

h1 {
  line-height: 1.2em;
  padding: 25px;
}

h1, h2 {
  color: #F6E6CE;
  text-align: center;
}

input, button {
  text-align: center;
  margin: 10px 0;
}

#victim-guess {
  background-color: #EDE8E2;
  border-color: #C3B3A6;
}

#victim-guess:focus {
  box-shadow: 0 0 20px #78040D;
  border-color: #460702;
}

#guess {
  background: linear-gradient(#460702,#78040D);
  border-color: #300702;
  color: #EDE8E2;
}

#guess:hover {
  background: linear-gradient(#300702,#460702);
}

#reset, #hint {
  background: linear-gradient(#C3B3A6,#EDE8E2);
  border-color: #A39376;
}

#reset:hover, #hint:hover {
  background: linear-gradient(#A39376,#C3B3A6);
}

.guess-controls {
  width: 30%;
  margin: 0 auto;
}

.button-controls {
  text-align: center;
  width: 40%;
  margin: 20px auto;
}

.button-controls button {
  width: 40%;
  margin: 0 auto;
}
